/* Enter your custom styles here */
.margin{
 margin: auto;
}
.button{
  width: 10%!important;
}
.prova{
  /* background-color: aquamarine!important; */
  border-right: 1px dotted rgb(180, 179, 193)!important;
  
}
