/* Enter your custom styles here */
.margin{
 margin: auto;
}
.button{
  width: 10%!important;
}
.prova{
  /* background-color: aquamarine!important; */
  background: red!important;
  
}
.checkText  .sapMLabel{
  font-weight: 900!important;
  font-size: large;
}
.sap.m.ProgressIndicator{
  margin: auto!important;
}
.tableHeader{
  font-size: larger!important;
}